*{
    font-family: monospace;
}

body{
    font-size: 22px;
    padding: 10px;
    border: 3px black solid;
}

h1, h2{
    color: blue;
}

p {
    color: purple;
}

.highlight{
    color: green;
}

p span{
    text-transform: uppercase;
    background-color: gold;
}

.gray {
    color: gray;
}

#second {
    font-style: italic;
}